<footer class="site-footer" role="contentinfo">
	<div class="row site-footer-cols">
		<div class="medium-2 columns">
			<div class="widget">
				<h5 class="widget-title"><%= lorem.words(2) %></h5>
				<ul>
					<% 4.times do |num| %>
					<li><a href="#"><%= lorem.words(2) %></a></li>
					<% end %>
				</ul>
			</div>
		</div>
		<div class="medium-2 columns">
			<div class="widget">
				<h5 class="widget-title"><%= lorem.words(2) %></h5>
				<ul>
					<% 3.times do |num| %>
					<li><a href="#"><%= lorem.words(2) %></a></li>
					<% end %>
				</ul>
			</div>
		</div>
		<div class="medium-2 columns">
			<div class="widget">
				<h5 class="widget-title"><%= lorem.words(2) %></h5>
				<ul>
					<% 3.times do |num| %>
					<li><a href="#"><%= lorem.words(2) %></a></li>
					<% end %>
				</ul>
			</div>
		</div>
		<div class="medium-2 columns">
			<div class="widget">
				<h5 class="widget-title"><%= lorem.words(2) %></h5>
				<ul>
					<% 4.times do |num| %>
					<li><a href="#"><%= lorem.words(2) %></a></li>
					<% end %>
				</ul>
			</div>
		</div>
		<div class="medium-4 columns">
			<h5>About us</h5>
			<p><%= lorem.sentences(1) %></p>
			<p><%= lorem.sentences(1) %></p>
		</div>
	</div>
	<div class="row">
		<div class="medium-8 columns">
			<p>&copy; Copyright 2013 | All Rights Reserved | <a href="#">Terms &amp; Conditions</a> | <a href="#">Reactive</a></p>
		</div>
		<div class="medium-4 columns">
			<div class="right social">
				<a href="#"><i class="icon-twitter"></i></a> 
				<a href="#"><i class="icon-facebook"></i></a> 
				<a href="#"><i class="icon-youtube-play"></i></a>
				<a href="#"><i class="icon-instagram"></i></a> 
				<a href="#"><i class="icon-linkedin"></i></a> 
			</div>
		</div>
	</div>
</footer>